<!-- 
<button type="button" routerLink='department'>Department</button>
<button type="button"  routerLink='termOfUse' >TermOfUse</button>  -->

<!-- <router-outlet></router-outlet> -->
<!-- Hello World   
<app-department></app-department> -->
<!-- <div style="text-align:center"><h1>{{workingMessage}}</h1></div> -->

<!-- <app-search topicHeader="ค้นหา 1" 
(searchClick)="fromSearchClick($event)" (cancelClick)="fromCancelClick($event)" [showBudget]="true"></app-search>

<app-department-table #departmentTable></app-department-table> -->

<!-- <app-department></app-department> -->
<router-outlet></router-outlet>